/* Add your CSS styles here */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scroll bars */
}

.main-content {
    position: fixed;
    min-height: 100vh; /* Set a minimum height to fill the viewport */
    width: 100vw;
    overflow: hidden; /* Prevent scroll bars */
}

.background-img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* This will cover the whole area */
}

.trees-left, .trees-right {
    position: absolute;
    width: 50vw;  /* 50% of the viewport width */
    height: 100vh;
    object-fit: cover;
    top: 0;
    z-index: 10; /* To ensure they are above the background image */
}

.trees-left {
    left: -50vw; /* Start off-screen, half of the viewport width */
    animation: slideInLeft 2s forwards; /* Animation to slide in */
}

.trees-right {
    right: -50vw; /* Start off-screen, half of the viewport width */
    animation: slideInRight 2s forwards; /* Animation to slide in */
}

.center-img {
    position: fixed;
    top: 50vh; /* Center vertically */
    left: 50vw; /* Center horizontally */
    transform: translate(-50%, -60%); /* Adjust vertical position */
    z-index: 20; /* Ensure it's above the other images */
    opacity: 0; /* Start with the image being transparent */
    animation: fadeIn 2s ease 2s forwards; /* Fade in after 2 seconds */
    width: 20vw; /* 20% of the viewport width */
    height: auto; /* Maintain aspect ratio */
}

.kick-img {
    position: fixed; /* Changed from absolute to fixed */
    top: 50vh; /* 70% from the top of the viewport */
    left: 50vw; /* Centered horizontally */
    transform: translate(-50%, 120%);
    z-index: 21;
    width: 5vw; /* 5% of the viewport width */
    height: auto;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 2s ease 2s forwards;
}

.discord-img {
    position: fixed; /* Changed from absolute to fixed */
    top: 50vh; /* 70% from the top of the viewport */
    left: 50vw; /* Centered horizontally */
    transform: translate(-50%, 190%);
    z-index: 21;
    width: 5vw; /* 5% of the viewport width */
    height: auto;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 2s ease 2s forwards;
}



/* Responsive Design */
@media screen and (max-width: 768px) {
    /* Adjust for tablets */
    .trees-left, .trees-right {
        width: 100vw; /* Full width for smaller screens */
    }

    .center-img, .kick-img, .discord-img {
        width: 30vw; /* Adjust size for visibility */
        transform: translate(-50%, -50%); /* Center the images vertically */
    }
}

@media screen and (max-width: 480px) {
    /* Adjust for mobile phones */
    .center-img, .kick-img, .discord-img {
        width: 50vw; /* Larger for small screens */
        transform: translate(-50%, -50%); /* Center the images vertically */
    }

    /* You might want to adjust font sizes, margins, paddings etc. here */
}

/* Add more styles as needed */
@keyframes slideInLeft {
    to { left: -25%; } /* Stop halfway towards the center */
}

@keyframes slideInRight {
    to { right: -25%; } /* Stop halfway towards the center */
}

@keyframes fadeIn {
    to { opacity: 1; } /* Fade to fully visible */
}
