:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --font-size-large: 1.5rem;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: var(--primary-color);
    font-size: var(--font-size-large);
    overflow: hidden; /* Prevent scroll bars */
}

.main-content, .background-img, .trees-left, .trees-right {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.main-content {
    position: fixed;
}

.trees-left, .trees-right {
    width: 50vw; /* 50% of the viewport width */
    top: 40vh; /* Adjust this value to bring the trees down a bit */
    z-index: 10; /* Above the background image */
    animation: 2s forwards;
    will-change: transform; /* Optimize for transform changes */
}

.duck {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10; /* Above the background image */
    transform: translate(-50%, -50%);
}

.trees-left {
    left: -50vw; /* Start off-screen, slide in from left */
    animation-name: slideInLeft;
    filter: blur(3px); /* Adjust the px value to increase/decrease the blur */
}

.trees-right {
    right: -50vw; /* Start off-screen, slide in from right */
    animation-name: slideInRight;
    filter: blur(3px); /* Adjust the px value to increase/decrease the blur */
}

.kick-img, .center-img, .discord-img, .instagram-img, .youtube-img {
    position: fixed;
    bottom: 10px; /* Adjust as needed */
    width: 80px; /* Set a fixed width */
    height: auto; /* Maintain aspect ratio */
    opacity: 1; /* Make fully visible */
    cursor: pointer;
}


.kick-img:hover, .center-img:hover, .duck-img:hover, .discord-img:hover, .instagram-img:hover, .youtube-img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}



.instagram-img {
    left: calc(50% - 240px); /* Adjust position */
}

.kick-img {
    left: calc(50% - 160px); /* Adjust position */
}

.discord-img {
    left: calc(50% - 40px); /* Center horizontally */
}

.center-img {
    left: calc(50% + 80px); /* Adjust position */
}

.youtube-img {
    left: calc(50% + 160px); /* Adjust position */
}

/* Responsive Images */
img {
    max-width: 100%;
    height: auto;
}

/* Improved Media Queries */
@media screen and (max-width: 768px) {
    .trees-left, .trees-right {
        width: 65vw; /* Adjust the width for smaller screens */
        object-fit: contain; /* Changing object-fit to avoid stretching */
    }

    .main-content {
        transform: scale(2.0); /* Adjust the scale value for zoom */
    }
}

@media screen and (max-width: 480px) {
    .trees-left, .trees-right {
        width: 65vw; /* Adjust the width for smaller screens */
        object-fit: contain; /* Changing object-fit to avoid stretching */
    }

    .main-content {
        transform: scale(2.0); /* Adjust the scale value for zoom */
    }

    body {
        font-size: 14px;
        line-height: 1.4;
    }
}

/* Media Query for iPads (including iPad Air) */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .trees-left, .trees-right {
        width: 65vw; /* Adjust the width for iPads */
        object-fit: contain; /* Changing object-fit to avoid stretching */
    }

    .main-content {
        transform: scale(2.0); /* Adjust the scale value for zoom */
    }
}

@keyframes slideInLeft {
    to { left: -25%; } /* Stop halfway towards the center */
}

@keyframes slideInRight {
    to { right: -25%; } /* Stop halfway towards the center */
}

@keyframes fadeIn {
    to { opacity: 1; } /* Fade to fully visible */
}
